
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    
}
@keyframes anime {
    0%{transform: rotate(0deg); }
    100% {transform: rotate(359deg);}
}
header{
    background-image: url(./images/bg-hero-desktop.svg);
    font-family: 'Poppins';
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 200px;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}
nav > img{
    
    animation-name: anime;
    animation-duration: 5s;
    
}
nav > button{
   color: hsl(192, 100%, 9%);
   height: 40px;
    width: 150px;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    background-color: white;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
.hero-div{
    display: flex;
    padding-top: 100px;
    
}
.hero-text{
    
    flex: 1;
    
}
.hero-text > div{
    margin: auto;
    text-align: justify;
    margin-bottom: 150px;
    padding-left: 100px;
    width: 60%;
    color: hsl(192, 100%, 9%);
}
.hero-text > div >button{
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border: none;
    margin-top: 30px;
    font-size: 20px;
}

.hero-text > div > h1{
    font-weight: bolder;
    font-size: 30px;
}
.hero-text > div > p{
    font-size: 17px;
    font-weight: 500;
}
.hero-text > div > button{
    height: 60px;
    width: 350px;
    border-radius: 50px;
    font-size: 17px;
}
.mockUp-img{
    margin: auto;
    flex: 1;
    
    
}
.mockUp-img >div> img{
    width: 80%;
    margin-top: -200px;
    
    
}
main{
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(192, 100%, 9%);
}
.grow-box{
    margin: auto;
    display: flex;
    width: 90%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    border-radius: 20px;
}
.grow-box > div{
    flex: 1;
    padding: 50px;
}
.flow-box{
    margin: auto;
    display: flex;
    width: 90%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    border-radius: 20px;
}
.flow-box > div{
    flex: 1;
    padding: 50px;
}
.users-box{
    margin: auto;
    display: flex;
    width: 90%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 300px;
    border-radius: 20px;
}
.users-box > div{
    flex: 1;
    padding: 50px;
}

.grow-text, .flow-text, .users-text{
    margin: auto;
    flex: 1;
}
.grow-text >div, .flow-text >div, .users-text>div{
    width: 80%;
}
.grow-text > div{
    padding: 100px;
}
.flow-img > img{
    padding: -100px;
}
.users-text > div{
    padding: 100px;
}

.grow-text > div>p, .flow-text >div >p, .users-text>div>p{
    font-size: 15px;
    font-weight: 400;
}
.grow-img > img, .flow-img >img, .users-img >img{
    height: 400px;
    flex: 1;
}
.last-div{
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 100px;
    padding: 50px;
    padding-bottom: 70px;
    border-radius: 15px;
    position: absolute;
    top: -130px;
    left: 450px;
    color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    
    
    
}
.last-div >h2{
    color: hsl(192, 100%, 9%);
}
.last-div > p{
    color: hsl(193, 100%, 96%);
}
.last-div >button{
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    border: none;
    border-radius: 40px;
    height: 65px;
    width: 280px;
    font-size: 20px;
}
h2{
    font-weight: 700;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: hsl(208, 11%, 55%);
    padding-left: 150px;
    padding-top: 200px;
    margin-top: 100px;
   
    position: relative;
    
}
footer>div{
    padding-bottom: 50px;
}
footer>div>img{
    background-color: hsl(193, 100%, 96%);
    
}
.footer-box{
    display: flex;
    justify-content: space-around;
}
.first-column {
    
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 50px;
}
.second-column {
    
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 50px;
}
.third-column {
    
    display: flex;
    flex-direction: column;
    width: 25%;
    
}
.fourth-column{
    
    width: 25%;
  
}
.fourth-column>div{
    display: flex;
    gap: 20px;
}
.fourth-column>div>img{
    border: 2px solid hsl(193, 100%, 96%);
    border-radius: 50%;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}
.copyright{
    text-align: right;
    padding-right: 100px;
}
